#wrap { /*background part, made a frame for the whole content*/
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0px;
}

.contentheader { /*makes a section to make the header part of the content*/
width: 1000px;
margin-left: 6%;
background-color:indianred;
}

.contentheader h1 { /*changes the font located in the header part of the content*/
    font-family:sans-serif;
    color: black;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#contentblock { /*changes the row of the content*/
width: 1000px;
margin-left: 6%;
background-color:gainsboro;
}

#contentblock h2 a { /*font inside the row of the content*/
    text-decoration: none;
    font-family:sans-serif;
    color: indianred;
    padding-left: 20px;
}

#contentblock h2 a:hover{ /*the hover part of the font, or changes the font style if the pointer hover over it*/
    text-decoration: none;
    font-family:sans-serif;
    color: black;
    padding-top: 10px;
    padding-left: 20px;
}

#contentblock p { /*the paragraph of the row of the content*/
    font-family: sans-serif;
    color:black;
    padding-left:20px;
}

#contentblock2 { /*changes the row of the content with different background color*/
width: 1000px;
margin-left: 6%;
background-color:white;
}

#contentblock2 h2 a { /*font inside the row of the content*/
    text-decoration: none;
    font-family:sans-serif;
    color: indianred;
    padding-left: 20px;
}

#contentblock2 h2 a:hover{ /*the hover part of the font, or changes the font style if the pointer hover over it*/
    text-decoration: none;
    font-family:sans-serif;
    color: black;
    padding-top: 10px;
    padding-left: 20px;
}

#contentblock2 p { /*the paragraph of the row of the content*/
    font-family: sans-serif;
    color:black;
    padding-left:20px;
}

#rightads { /*right side advertisement, or you can change it with navigation, etc.*/
    height: 600px;
    width: 160px;
    float:right;
    margin-right: 5%;
    margin-top: 10px;
    background-color: gainsboro;
}