#wrap /*to make a frame for the content of the article so the article won't go anywhere */
{
    margin-left: 160px;
    margin-right: 550px;
    margin-top: 20px;
    margin-bottom: 10px;
	width: auto;
	background: #fff;
	padding: 10px;
    text-align: left;
}
#contentheader /*for the frame of the title */
{
    background-color: gainsboro;
    color: black;
    height: auto;
    width: 100%;
    }
#contentheader h1 /*for the font of the title */
{ 
    font-size: 50px;
    letter-spacing: -6px;
    padding: 17px 0 0 10px;
    color: indianred;
}
.pic_content p img {
    display: block;
    padding-bottom: 5px;
    width: 100%;
}
#content /*where the article is written*/
{
    padding: 0 20px 20px 0;
    font-size: 20px;
    
}
#wrapright{
    float:right;
    width: 35%;
    background: #fff;
	padding: 10px;
}

.rightlayout a img/*for the recomendation to read*/
{
    float: right;
    width: 77%;
    height: 40%;
    text-align: justify;
    padding-top: 5px;
    margin-top: 30px;
    margin-right: 100px;
    clear: both;
  
}
.rightlayout a:hover /*the image can change color when the cursor pointed at the image*/
{
    opacity: 50%;
  
}
.righttitle h2 a /*for the title of recomendation to read*/
{
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    float: right;
    width: 77%;
    height: 10%;
    background-color: gainsboro;
    clear: both;
    margin-right: 100px;
    margin-bottom: 30px;
    color: black;
}
.righttitle h2 a:hover /*the text can change color when the cursor pointed at the text*/
{

    color: indianred;
}

    