/*Andrian Dwi Nugroho*/
  
body /*style for all layout*/
{ 
    margin: 0;
    padding: 0;
    font-family:arial,segoe ui;
    background: rgb(162, 224, 224);   /*light blue*/
}

header { /*style for all layout*/
    width:auto;
    background:rgb(162, 224, 224); /*light blue*/
    padding:20px;
    color:white;
    text-align: center;
}    
     
nav { /*style for all layout*/
            width:auto;
            background:rgb(127, 182, 182); /*dark blue*/
            padding:10px 20px;
            color:white;
            border-style: solid black;
            text-align:center;
}    
  
  
.table{  border:4px solid rgb(119, 136, 153); text-align: center;
} /*border lineto wrap the tittle*/
  

#content1 { /*Medium table with grey background on the left page for content 1 */
    float:left;
    width:45%;
    background:rgb(142, 151, 151);
    padding: 1%; 
    height:450px;
}
#content2{  /*Medium table with dark pink background to the right of content 1*/
    float:left;
    width:50%;
    background:rgb(223, 203, 203);  /*dark pink*/
    padding: 1%;  /*distance between content and border*/
    height:450px;
}
#footer1 {  /*footer for layout top Player*/
    background-color: #777; /*grey*/
    padding: 20px;
    text-align: center;
    color: white; 
  }
